* {
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  justify-content: space-around;
  position: fixed;
  text-align: center;
  background-color: #f1f6f9;
  z-index: 5;
  width: 100%;
  padding-bottom: 0.5rem;
  /* padding-top: 0.3rem; */
}

.logo {
  display: flex;
  padding-top: 0.4rem;
}

.main-options {
  display: flex;
  gap: 2.5rem;
  margin-top: 1.5rem;
  font-size: 16.5px;
}

.inventory {
  display: flex;
  gap: 1.5rem;
  margin-top: 1.5rem;
}

.first-page {
  width: 100%;
  margin-bottom: -5rem;
}

.front-container {
}

.shop-option {
  display: flex;
  justify-content: center;
  position: relative;
  color: white;
  bottom: 11.2rem;
  font-size: 2.2rem;
}

.Options {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2.5rem;
  bottom: 13rem;
  gap: 0.3rem;
  margin-bottom: 0px;
  padding-bottom: 0px;
  /* flex-direction: column; */
}
.front-page-img {
  width: 100%;
  height: auto;
}

/*Second Page*/
.second-page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.atire-categories {
  display: flex;
  gap: 0rem;
  position: relative;
  justify-content: center;
  align-items: center;
  padding-left: 4%;
  /* left: 2%; */
}

.images {
  height: auto;
  width: 82%;
  border-radius: 8px;
}

/* Producs Page */
.third-page {
  display: flex;
}

.filter {
  display: flex;
  flex-direction: column;
  width: 20%;
  padding-left: 4%;
}

.products-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.all-products {
  display: flex;
  width: 100%;
}

/* Products Portion */
.products {
  /* margin-left: 3.2rem; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.products-title {
  display: flex;
  justify-content: space-between;
  padding-left: 20.5%;
  padding-right: 20.5%;
}

.products-text {
  font-size: 1.3rem;
}

.products-text2 {
  font-size: 1rem;
}

.img-container {
  background-color: #f9f9f9;
  border-radius: 10px;
  width: 90%;
}

.img1,
.img2,
.img3,
.img4,
.img5,
.img6,
.img7,
.img8,
.img9,
.img10,
.img11,
.img12 {
  width: 90%;
  border-radius: 8px;
  overflow: hidden;
}

.learn {
  display: flex;
  justify-content: center;
  font-size: 1rem;
  text-decoration: underline;
  text-underline-offset: 4px;
  color: white;
}

.brands {
  display: flex;
  justify-content: center;
  gap: 18%;
  width: 100%;
  height: 16%;
  margin-top: 3rem;
  background-color: #9db2bf;
}

.google,
.fedex,
.post-office,
.pay-pal,
.apple-pay,
.stripe,
.ups {
  height: 100%;
}

.fith-section {
}

.about-us {
  display: flex;
  margin-top: 2.5rem;
  width: 100%;
  justify-items: center;
  justify-content: center;
}

.first-half {
  display: flex;
  align-items: center;
  width: 28%;
  overflow: hidden;
}

.lady-in-blue {
  max-height: 100%;
  max-width: 100%;
  margin-right: auto;
}

.second-half {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  align-items: center;
}

.about-title {
  font-size: 1.9rem;
  margin-bottom: 0.5rem;
}
.about-statement {
  line-height: 1.6rem;
  width: 70%;
  margin-top: 0px;
}

footer {
  background-color: #aed8cc;
  border-radius: 8px;
  margin-bottom: -1.5rem;
}
.main-footer {
  display: flex;
  justify-content: space-around;
  justify-content: space-evenly;
  margin-top: 2.6rem;
  margin-bottom: 3rem;
  gap: 1rem;
  padding-top: 1rem;
}

div h1 {
  font-size: 1.2rem;
  font-weight: 300;
}

div p {
  font-size: 0.9rem;
}

.footer-fashion {
  width: 15%;
}

.statement {
  line-height: 1.75rem;
  margin-top: 2.37rem;
}

.footer-contact {
}

.contact-info {
  margin-top: 2.5rem;
}

.footer-links {
  font-size: 1rem;
}

.links-info {
  margin-top: 2.5rem;
}
.footer-sign {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.sign-info {
  margin-top: 0.7rem;
}
input {
  height: 22%;
  border-radius: 4px;
  border-width: 0.5px;
}

button {
  height: 17%;
  width: 50%;
  border-radius: 4px;
  color: white;
  background-color: #a5c9ca;
  background-color: #0b666a;
  border-width: 0.5px;
}

hr {
  font-weight: 600;
  background-color: #aed8cc;
}

.final {
  display: flex;
  justify-content: space-between;
  margin-left: 8%;
  margin-right: 8%;
  margin-top: 1.2%;
  margin-bottom: 2.2%;
}

/* .copyright {
  font-weight: lighter;
  margin-bottom: 1.4rem;
} */

/* .social-media {
  display: flex;
  gap: 50%;
  position: relative;
  right: 8rem;
  margin-top: 0.6rem;
}

.facebook {
  height: 57%;
}

.twitter {
  height: 57%;
}

.instagram {
  height: 57%;
}

.pinterest {
  height: 57%;
} */
